.more-marg {
  margin-top: 30px;
}

@media only screen and (max-device-width: 768px) {
  .more-marg {
    display: inherit;
    justify-content: unset;
    align-items: unset;
  }
}

.react-calendar {
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
  border: 0;
  font-family: Montserrat, 'Segoe UI', Tahoma, sans-serif;
  overflow: hidden;
}

.react-calendar__tile--hasActive,
.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #9ec747;
}

@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) {
  .react-calendar {
    width: 50%;
    display: block;
    margin: 20px auto auto;
  }
}
